<!DOCTYPE html>
<html>
<head>
  <title>Icebox</title>
  <%= include_gon(namespace: 'iceBox', init: true) %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Petit+Formal+Script|Reenie+Beanie|The+Girl+Next+Door|Quicksand' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
